$logoFont: "Caveat", cursive;
$primaryFont: "Alata", sans-serif;
$primaryFontSize: 55px;
$secondaryFont: sans-serif;

$phoneScreen: 415px;
$phoneScreenFlip: 736px;
$tabletScreen: 768px;
$tabletScreenFlip: 1024px;

.Screens {
  .navbar {
    background: transparent;
    .brand-logo {
      cursor: pointer;
      font-family: $logoFont;
      font-size: 50px;
      margin-left: 30px;
      color: black;
      @media screen and (max-width: $phoneScreen) {
        font-size: 45px;
        margin-left: auto;
      }
    }
    .navbar-burger {
      border: none;
      background: transparent;
      color: black;
      margin-top: 2%;
      margin-bottom: auto;
    }
    .navbar-item {
      cursor: pointer;
      color: rgb(105, 105, 105);
      border: 0;
      background: white;
      font-size: 18px;
      transition: 0.2s ease;
      &:hover {
        color: black;
      }
      &:focus {
        outline: none;
      }
      @media screen and (max-width: $phoneScreen) {
        display: none;
      }
    }
    .navbar-item-active {
      cursor: pointer;
      padding: 8px 12px;
      color: black;
      border: 0;
      background: white;
      font-size: 18px;
      transition: 0.2s ease;
      &:focus {
        outline: none;
      }
    }
  }
}

.Landing {
  padding-top: 10%;
  text-align: center;
  min-height: 100vh;
  p {
    color: rgb(98, 98, 98);
    font-family: $primaryFont;
    font-size: $primaryFontSize;
    @media screen and (max-width: $phoneScreen) {
      padding-top: 5%;
      font-size: 32px;
    }
  }
  .SecondaryText {
    line-height: 1;
    font-size: 45px;
    @media screen and (max-width: $phoneScreen) {
      font-size: 30px;
    }
  }
  img {
    height: 260px;
    margin-top: 30px;
    border-radius: 50%;
    @media screen and (max-width: $phoneScreen) {
      margin-top: 7vh;
    }
  }
  @media screen and (max-width: $phoneScreen) {
    padding-top: 12vh;
  }
}

.Projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  display: flex;
  @media screen and (max-width: $phoneScreen) {
    display: block;
  }
  .card-container {
    .card {
      color: black;
      // color: whitesmoke;
      margin: 20vh 4vw 0 4vw;
      width: auto;
      height: auto;
      .card-header-title {
        color: black;
        // color: whitesmoke;
        padding-left: 5%;
      }
      .card-image {
        width: 50.5vh;
        height: 30vh;
        padding: 5% 5%;
      }
      .card-content {
        padding-top: 0;
        .bold-word {
          font-weight: bold;
        }
      }
      .card-footer-item {
        transition: 0.2s ease;
        color: black;
        // color: whitesmoke;
        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }
  .project-card-1 {
    background: transparent;
    // background: #48c774;
  }
  .project-card-2 {
    background: transparent;
    // background: #f14668;
  }
  .project-card-3 {
    background: transparent;
    // background: #3298dc;
  }
}

.Technologies {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .technologies-container {
    .site-technologies-container {
      width: 100%;
      height: 100%;
      header {
        font-family: $primaryFont;
        font-size: $primaryFontSize;
      }
    }
    .used-technologies-container {
      width: 100%;
      height: 100%;
      header {
        font-family: $primaryFont;
        font-size: $primaryFontSize;
      }
    }
  }
}

.About {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .card-container {
    .card {
      background: transparent;
      margin-top: 20vh;
      width: 60vw;
      height: auto;
    }
  }
}

.Contact {
  min-height: 100vh;
}

.Icons {
  display: flex;
  justify-content: center;
  a {
    color: black;
    margin: 100px 10px 0 10px;
    @media screen and (max-width: $phoneScreen) {
      margin: 10% 2% 0 2%;
    }
  }
  .GithubIcon,
  .LinkedInIcon,
  .CodewarsIcon {
    font-size: calc(30px + 2vmin);
    height: calc(30px + 2vmin);
    margin: auto;
    transition: 0.2s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}

.Footer {
  color: rgb(98, 98, 98);
  padding-top: 10vh;
  text-align: center;
  bottom: 0;
  @media screen and (max-width: $phoneScreen) {
    padding-top: 5vh;
  }
}
