.brand-logo {
  margin-left: 30px;
}

.Landing {
  display: flex;
  justify-content: center;
}

.Icons {
  display: flex;
  justify-content: center;
}

.Icons a {
  color: black;
  margin: 100px 10px 0 10px;
}

.GithubIcon,
.LinkedInIcon,
.CodewarsIcon {
  font-size: calc(30px + 2vmin);
  height: calc(30px + 2vmin);
  margin: auto;
}

.Projects {
}

.Footer {
  text-align: center;
}
