$logoFont: "Caveat", cursive;
$primaryFont: "Alata", sans-serif;
$primaryFontSize: 55px;
$secondaryFont: sans-serif;

$phoneScreen: 415px;
$phoneScreenFlip: 736px;
$tabletScreen: 768px;
$tabletScreenFlip: 1024px;

.Screens {
  .navbar {
    background: transparent;
    .brand-logo {
      cursor: pointer;
      font-family: $logoFont;
      font-size: 50px;
      margin-left: 30px;
      color: black;
      @media screen and (max-width: $phoneScreen) {
        font-size: 45px;
        margin-left: auto;
      }
    }
    .navbar-burger {
      border: none;
      background: transparent;
      color: black;
      margin-top: 2%;
      margin-bottom: auto;
    }
    .navbar-item {
      cursor: pointer;
      color: rgb(105, 105, 105);
      border: 0;
      background: white;
      font-size: 18px;
      transition: 0.5s;
      font-weight: normal;
      &:hover {
        color: black;
      }
      &:focus {
        outline: none;
      }
      @media screen and (max-width: $phoneScreen) {
        display: none;
      }
    }
    .navbar-item-active {
      cursor: pointer;
      padding: 8px 12px;
      color: black;
      border: 0;
      background: white;
      font-size: 18px;
      transition: 0.5s;
      font-weight: bold;
      &:focus {
        outline: none;
      }
    }
  }
}

.Landing {
  padding-top: 10%;
  text-align: center;
  min-height: 100vh;
  p {
    color: rgb(98, 98, 98);
    font-family: $primaryFont;
    font-size: $primaryFontSize;
    @media screen and (max-width: $phoneScreen) {
      padding-top: 5%;
      font-size: 32px;
    }
  }
  .SecondaryText {
    line-height: 1;
    font-size: 45px;
    @media screen and (max-width: $phoneScreen) {
      font-size: 30px;
    }
  }
  img {
    height: 260px;
    margin-top: 30px;
    border-radius: 50%;
    @media screen and (max-width: $phoneScreen) {
      margin-top: 7vh;
    }
  }
  @media screen and (max-width: $phoneScreen) {
    padding-top: 12vh;
  }
}

.Projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $phoneScreen) {
    display: block;
  }
  .slider-container {
    width: 50vw;
    display: grid;
    grid-template-columns: 100px 46vw 100px;
    .slider {
      width: 40vw;
      height: auto;
      display: flex;
      overflow-x: auto;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      grid-column: 2;
      @media screen and (max-width: $phoneScreen) {
        width: 80vw;
      }
      .card-container {
        .card {
          color: black;
          margin: 15vh 4vw 0 4vw;
          width: 40vw;
          height: auto;
          transition: 0.5s;
          background: transparent;
          flex-shrink: 0;
          scroll-snap-align: start;
          align-items: center;
          align-content: center;
          &:hover {
            background: whitesmoke;
            box-shadow: 0.5px 0.7px 1.5px 0.7px rgb(168, 168, 168);
          }
          @media screen and (max-width: $phoneScreen) {
            width: 80vw;
          }
          .card-header-title {
            color: black;
            padding-left: 5%;
          }
          .card-image {
            width: auto;
            height: auto;
            padding: 4% 4%;
          }
          .card-content {
            padding-top: 0;
            .bold-word {
              font-weight: bold;
            }
          }
          .card-footer-item {
            transition: 0.5s;
            color: black;
            &:hover {
              background: white;
              color: black;
            }
          }
        }
      }
      .project-card-1 {
        background: transparent;
        // background: #48c774;
      }
      .project-card-2 {
        background: transparent;
        // background: #f14668;
      }
      .project-card-3 {
        background: transparent;
        // background: #3298dc;
      }
    }
    .left-arrow {
      grid-column: 1;
      align-items: center;
      margin-bottom: 5vh;
    }
    .right-arrow {
      grid-column: 3;
      align-items: center;
    }
  }
}

.Technologies {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .technologies-container {
    header {
      font-family: $primaryFont;
      font-size: $primaryFontSize;
    }
    .site-technologies-container {
      width: 80vw;
      height: 40vh;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-gap: 50px;
      .logo {
        width: 30%;
        height: 30%;
      }
      .box {
        width: 100%;
        height: 100%;
      }
      .box-1 {
        grid-column: 1;
        grid-row: 1;
      }
      .box-2 {
        grid-column: 2;
        grid-row: 1;
      }
      .box-3 {
        grid-column: 1;
        grid-row: 2;
      }
      .box-4 {
        grid-column: 2;
        grid-row: 2;
      }
    }
    .used-technologies-container {
      width: 100%;
      height: 100%;
      header {
        font-family: $primaryFont;
        font-size: $primaryFontSize;
      }
    }
  }
}

.About {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .card-container {
    .card {
      background: transparent;
      margin-top: 20vh;
      width: 60vw;
      height: auto;
    }
  }
}

.Contact {
  min-height: 100vh;
}

.Icons {
  display: flex;
  justify-content: center;
  a {
    color: black;
    margin: 100px 10px 0 10px;
    @media screen and (max-width: $phoneScreen) {
      margin: 10% 2% 0 2%;
    }
  }
  .GithubIcon,
  .LinkedInIcon,
  .CodewarsIcon {
    font-size: calc(30px + 2vmin);
    height: calc(30px + 2vmin);
    margin: auto;
    transition: 0.5s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.Footer {
  color: rgb(98, 98, 98);
  padding-top: 10vh;
  text-align: center;
  bottom: 0;
  @media screen and (max-width: $phoneScreen) {
    padding-top: 5vh;
  }
}
