$backgroundColor: green;

.App {
  height: auto;
  width: auto;
  background-color: $backgroundColor;
}

.Github-icon {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}